@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using WebAppWithIdentity.mvc.Interfaces
@using WebAppWithIdentity.mvc.Extension
@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<IdentityUser> _userManager;
@inject IAppUserRepository _appUserRepository;
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if(User.Identity.IsAuthenticated) 
{
    var appUser = await _appUserRepository.GetByIdIdentityUser(User.GetIdActualIdentityUser());
    if(User.IsInRole("User"))
    {
        <h2 class="text-success">@User.GetUserNameActualIdentityUser()</h2>
        <h4 class="text-primary">Hi @appUser.FullName, your role is User!</h4>
        <img src="@appUser.ImageAccount" width="200px"/>
        <br />
        <h6>Tu direccion</h6>
        if(appUser.Address is not null)
        {
            <span class="text-danger">@appUser.Address.Calle <strong>@appUser.Address.Altura</strong></span>
        }else
        {
            <span class="text-primary">You dont have an address vinculated <a class="" href=""><strong>Add Address</strong></a></span>
        }
    }
    else if(User.IsInRole("Admin"))
    {
        <h4 class="text-secondary"> Hi @User.GetUserNameActualIdentityUser(), your role is Admin</h4>
    }
}
else
{
    <h4 class="text-danger">You are not authenticated</h4>
}
